<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movie List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!--    <style>-->
<!--    .card {-->
<!--        border: 1px solid #ddd;-->
<!--        border-radius: 10px;-->
<!--    }-->
<!--    .card-img-top {-->
<!--        border-bottom: 1px solid #ddd;-->
<!--    }-->
<!--    .card-body {-->
<!--        text-align: center;-->
<!--    }-->
<!--</style>-->
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">

</head>
<body>

<!-- Search Box-->
<div class="search-container my-4">
    <!--isee input lenge ki kya search krna hai and voh backend pr bhejege and result search result mai bhejege        -->
    <!--onkeyup is an javascipt event, toh jaise hi user search bar mai kuch daalega toh search function call hoga      -->
    <input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search">
    <div class="search-result">
        <!--this is search result-->
    </div>
</div>



<div class="container mt-4">
    <h1 class="mb-4">Movies</h1>
    <div class="row">
        <!-- Iterate over movieList -->
        <div class="col-md-4 mb-4" th:each="movie : ${moviesList}">
        <!-- A particular movie, iske uper kahi bhi click kro toh new page khulega isliye anchor tag mai daala hai -->
            <a th:href="@{/movies/movie(title=${movie.title})}" class="card-link">
                <div class="card">
                    <img th:src="@{/images/movie.jpg}" class="card-img-top" alt="Movie Poster">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${movie.title}">Movie Title</h5>
                        <p class="card-text" th:text="${movie.overview}">Movie Overview</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/dashboard.js}"></script>
</body>
</html>
